
<div class="media">
    <br>
    <div class="pull-left">
        <img id="profile-pic" class="media-object" width="150" src="{{images.0.url}}" />
        <br>
    </div>
    <div class="media-body">
        <dt class="right">Welcome, {{display_name}}</dt>
        <dd class="right">{{id}}</dd>

        <dl class="dl-horizontal">
            <dt>Queue Number</dt><dd>(650) 666-6263</dd>
        </dl>
    </div>
</div>
